/* style.css */
#header { font-size: 25px; }
#container { min-width: 310px; height: 400px; margin: 0 auto; }
.text-center { text-align: center; }
.banner { background-color: rgba(239,238,238,0,64);	 }
.user { padding: 5px; }
.user > div:not(.avatar) { margin-top: 10px; }	
@media (min-width: 800px) {
	.banner {
		margin-top:   5%;
		margin-left:   15%;
		margin-right: 15%;
	}
}
img {
    	border-radius: 50%;
	max-width: 45px;
}
.banner > p {
	padding-top:20px;
	text-align: center;
}
.users-list .user:nth-child(2n) {
	background: #FAFAFC;
}